/*!Titulo */
#sec1 {
    border-bottom: 0.2em solid rgb(161, 156, 156);
}
.ajuste{
    
    margin-top: 0rem;
}
.navbar #h1 {
    color: rgb(30, 49, 49);
    font-family: Montserrat;
    font-size: 2.0rem;
    font-weight: 600;
}
/* *diamonds */
.diamonds {
    margin: 1rem;
    color: rgb(122, 165, 202);
    font-size: 2.0rem;
}
.d1 {
    margin-right: 2rem;
    /* transform: rotate(-43deg); */
}
.d2 {
    /* transform: rotate(43deg); */
}

/* !CSSFONTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
/* ?Resto */
#resto{
    background-color:rgb(255, 255, 255);
    padding-top: 1rem;
}
#cristalFt {
    height: 23rem;
    border-radius: 10%;
    border: 0.2rem solid rgb(52, 76, 141);
    margin-left: 4rem;
    margin-top: 0rem;
    margin-bottom: 3rem
}
#biografia {
    font-size: 3rem;
    margin-left: 10rem;
    margin-top: 2rem;
    font-family: 'Fredoka One', cursive;
    line-height: 4rem;

}
.myh1 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 1rem;

}
.hh1 {
    background-color: rgb(161, 132, 149);
    display: initial;
    padding: 0% 3rem;
    font-family: 'Caveat Brush';


}
.center {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.flex {
    display: flex;
}

#h4 {
    margin-left: 6rem;
    width: 12rem;
    border-bottom-right-radius: 3%;

}
#color {
    color: brown;
}
.p {
    margin-left: 2rem;
}
.hh2 {
    background-color: rgb(161, 152, 158);
    display: initial;
    padding: 0% 1rem;
    font-family: 'Caveat Brush';
    color: aliceblue;
    font-size: 2.4rem;
}
/* ! Hobbies */
.img-hobby {
    border-radius: 20%;
    border: 0.2rem solid rgb(87, 76, 63);
    width: 11rem;
    background-color: white;
    margin: 0rem 3rem 0rem 3rem;
}

.animate{
    animation-name: img-book;
    animation-duration: 4s;
}
.animate-2 {
    animation-name: img-fut;
    animation-duration: 4s;
}

#ler {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#p2 {
    font-size: 1.9rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    font-family: 'Montserrat', cursive;
}
#p3 {
    font-size: 1.9rem;  
    margin-left: 1rem;
    margin-top: 1.5rem;
    font-family: 'Montserrat', cursive;

}
.end {
 justify-content: end;
}
#img-fut {
    margin-bottom: 2rem;
}

/* Pra celular */
@media (max-width: 991px) {
    .img-hobby {
    width: 8rem;
    margin: 0rem 0rem 0rem 0rem;
    }
    .imgs {
        justify-content: center;
    }
    #p2 {
        font-size: 1.2rem;
        margin-left: 2rem;
    }
    #p3 {
        /* margin-right: ; */
        font-size: 1.2rem;
    }
    #h4 {
        margin-left: 1.2rem;
    }
    .p {
        margin-left: 1rem;
    }
    #biografia {
        font-size: 1.3rem;
        margin-left: 1rem;
        margin-top: 2.4rem;
        line-height: 2rem;
    }
    #cristalFt {
        height: 18rem;
        border-radius: 10%;
        border: 0.2rem solid rgb(142, 164, 184);
        margin-left: 0rem;

        margin-bottom: 3rem
    }
    
    #resto {padding-top: 1rem;}
    .hh1 {
        font-size: 3rem;
    }
    @keyframes img-book {
        0% {
            opacity: 0;
            margin-left: -10rem;
        }
        to {
            opacity: 1;
        }
        
    }
    @keyframes img-fut {
        0% {
            opacity: 0;
            margin-left: 6rem;
        }
        to {
            opacity: 1;
        }
        
    }
}
